
<% form_for @event, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <%= f.label :title, "タイトル" %>：<br />
  <%= f.text_field :title, :class => "text_field" %><br />
    
  <br />

  <%= f.label :mode, "モード" %>：<br />
  <%= f.radio_button :mode , "public" %><%= f.label :mode_public, " 公開" %>
  <%= f.radio_button :mode , "private", { :checked => true } %><%= f.label :mode_private, " 非公開" %>
  <%= f.radio_button :mode , "protect" %><%= f.label :mode_protect, " 保護" %>：<%= f.label :show_key, "閲覧キー" %> <%= f.text_field :show_key, :class => "text_field_100" %><br />
  
  <br />

  <%= f.label :note, "備考" %>：<br />
  <%= f.text_area :note %><br />
  
  <br />

  <%= f.submit "作成", :disable_with => "作成" %><br />

<% end %>

<br />

<span class="menu">
  <%= link_to t("menu.list"), :action => :list %>
</span>

<br />