
<%# イベント情報 %>
<table class="text_left">
  <tr>
    <th><%= t("event.title") %></th>
    <td><%= @event.title %></td>
  </tr>

  <tr>
    <th><%= t("event.event_day") %></th>
    <td><%= Schedule.schedule_day_format(@event.event_day) %></td>
  </tr>

  <tr>
    <th><%= t("event.note") %></th>
    <td><%= @event.note %></td>
  </tr>
<table>

<br />

<%= render :partial => "entry_table" %>

<br />
